@page "/policies"
<PageTitle>Policies</PageTitle>
<MudContainer Class="mt-16 px-8" MaxWidth="MudBlazor.MaxWidth.False">

    <MudBreadcrumbs Items="_breadcrumbs" />
    <MudText Class="m-4" Typo="Typo.h3">Policies</MudText>

    @*All policies listed. Search main headers in comment*@
    <MudContainer Class="d-block">
        <MudPaper Class="m-4">
            <MudButton @ref="panel" OnClick="Close" StartIcon="@Icons.Material.Filled.SafetyCheck" />
            <MudExpansionPanels MultiExpansion="true" Elevation="0" DisableBorders="false">
                <MudExpansionPanel>
                    <TitleContent>
                        <MudText Typo="Typo.h4">WELCOME TO OUR TEAM!!</MudText>
                    </TitleContent>
                    <ChildContent>
                        <MudText Typo="Typo.body2">
                            <p>
                                We welcome you to MIAS Fashion Manufacturing Company, Inc. We look forward to
                                the opportunity to work with you. We believe that employees are our most valuable
                                resource for our success. Our continued success in providing the highest quality products
                                to our customers depends on having quality people like yourself and your fellow
                                employees. We want you to enjoy your time here and are committed to helping you
                                succeed in your position at MIAS Fashion Manufacturing Company, Inc.
                            </p>
                            <p>
                                We have prepared this Employee Handbook as a guide to answer some of the questions
                                that you may have concerning MIAS Fashion Manufacturing Company, Inc. and its
                                policies. This Employee Handbook is intended solely as guide. Please read it thoroughly
                                and if you have questions about the contents of this Employee Handbook, please contact
                                your General Manager for assistance.
                            </p>
                            <p>
                                We hope that you find your time with us to be an enjoyable and rewarding experience.
                                Once again, welcome to MIAS Fashion Manufacturing Company, Inc.
                            </p>
                            Sincerely,<br />
                            Peter Ahn<br />
                            President and CEO<br />
                        </MudText>
                    </ChildContent>
                </MudExpansionPanel>

                @*********Employment Policies Section*********@
                <MudExpansionPanel>
                    <TitleContent>
                        <MudText Typo="Typo.h5">EMPLOYMENT POLICIES</MudText>
                    </TitleContent>
                    <ChildContent>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">AT-WILL EMPLOYMENT</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Other than certain employees who have entered into separate employment agreements, all
                                        employment at Company is <strong>“AT-WILL.”</strong>This means that both employees and Company
                                        have the right to terminate employment at any time, with or without advance notice, and
                                        with or without cause. Employees also may be demoted or disciplined, and the terms of
                                        their employment may be altered at any time, with or without cause, at the discretion of
                                        Company. No one other than the President has the authority to alter this arrangement, to
                                        enter into an agreement for employment for a specified period of time, or to make any
                                        agreement contrary to this policy, and any such agreement must be in writing and must be
                                        signed by the President and by the affected employee.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">IMMIGRATION LAW COMPLIANCE (I-9)</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Federal and state law requires all employers to verify each new employee’s identity and
                                        legal ability to work in the United States. In compliance with the federal Immigration
                                        Reform and Control Act of 1986 (IRCA), as amended, Company is committed to
                                        employing only individuals who are authorized to work in the United States. All
                                        employees, upon being hired, must complete an IRS Form I-9 to provide proof of identity
                                        and eligibility to legally work in the U.S. Employees must present original documents.
                                        Providing false identification or making false statements on the I-9 form shall be grounds
                                        for immediate discharge. Before commencing work, newly rehired employees must also
                                        complete the form if they have not previously filed an I-9 with Company if their previous
                                        I-9 is more than three years old, or if their previous I-9 is no longer valid.
                                    </p>
                                    <p>
                                        Current employees are also required to update work eligibility status, should their status
                                        expire or change. Furthermore, Company will not be responsible for updating an
                                        employee’s legal status and may not under any circumstances
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">EQUAL EMPLOYMENT OPPORTUNITY STATEMENT</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Company provides equal employment opportunities (EEO) to all employees and
                                        applicants for employment without regard to race, color, religion, gender, sexual
                                        orientation, gender identity, national origin, age, disability, genetic information, marital
                                        status, amnesty or status as a covered veteran in accordance with applicable federal, state
                                        and local laws. Company complies with applicable state and local laws governing
                                        nondiscrimination in employment in every location in which Company has facilities.
                                        This policy applies to all terms and conditions of employment, including hiring,
                                        placement, promotion, termination, layoff, recall, transfer, leaves of absence,
                                        compensation and training.
                                    </p>
                                    <p>
                                        Company is strongly committed to and is actively committed to equal employment
                                        opportunity in the workplace. As such, Company offers employment opportunities on a
                                        non-discriminatory basis to all qualified individuals, including those who may happen to be disabled.
                                        Company will offer reasonable accommodation to disabled individuals,
                                        where appropriate, to permit them to perform the essential functions of their job.
                                        Company expressly prohibits any form of unlawful employee harassment based on race,
                                        color, religion, gender, sexual orientation, national origin, age, genetic information,
                                        disability or veteran status. Improper interference with the ability of Company’s
                                        employees to perform their expected job duties is absolutely not tolerated. All employees,
                                        as per the law, must be at least 18 years of age. Employees under the age of 18 must
                                        comply with all federal wage and hour guidelines, no exceptions. The required work
                                        permits must be supplied when applicable.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">AMERICANS WITH DISABILITIES ACT</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        The Americans with Disabilities Act (ADA) and the Americans with Disabilities
                                        Amendments Act, known as the ADAAA, are federal laws that prohibit employers with
                                        15 or more employees from discriminating against applicants and individuals with
                                        disabilities and that when needed provide reasonable accommodations to applicants and
                                        employees who are qualified for a job, with or without reasonable accommodations, so
                                        that they may perform the essential job duties of the position.
                                    </p>
                                    <p>
                                        It is the policy of Company to comply with all federal and state laws concerning the
                                        employment of persons with disabilities and to act in accordance with regulations and
                                        guidance issued by the Equal Employment Opportunity Commission (EEOC).
                                        Furthermore, it is our policy not to discriminate against qualified individuals with
                                        disabilities in regard to application procedures, hiring, advancement, discharge,
                                        compensation, training or other terms, conditions and privileges of employment.
                                    </p>
                                    <p>
                                        Company will reasonably accommodate qualified individuals with a disability so that
                                        they can perform the essential functions of a job unless doing so causes a direct threat to
                                        these individuals or others in the workplace and the threat cannot be eliminated by
                                        reasonable accommodation and/or if the accommodation creates an undue hardship to
                                        Company. If you have a disability that requires some accommodation in the workplace,
                                        please talk with the General Manager so that a full understanding of the disability and an
                                        evaluation of the appropriate accommodation, if any, can be made. We will treat
                                        information concerning disabilities in a confidential manner consistent with the need to
                                        protect the safety and health of the other employees and the public.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">EMPLOYEE BACKGROUND CHECK</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        In compliance with the Los Angeles Fair Chance Initiative for Hiring, Company will not
                                        inquire about or require an applicant to disclose their criminal history. Upon making a
                                        conditional offer of employment, Company may conduct a job-related background check
                                        or may request a comprehensive background check according to the position applied for
                                        A comprehensive background check may consist of prior criminal record, employment
                                        verification, professional reference checks, and education confirmation.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">PRE-EMPLOYMENT SCREENING ASSESSMENTS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        All applicants are required to successfully complete several job-related
                                        screenings/assessments. To maintain a safe work environment Company requires the
                                        successful completion of various types of screenings/assessments as a condition of
                                        employment. All federal, state, and local requirements concerning job related screenings
                                        of Company’s employees are adhered to. All applicants being considered for
                                        employment with Company may be required to submit to a pre-employment physical and
                                        drug screening.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">MEDICAL EXAMINATION/ILLEGAL DRUG AND ALCOHOL TESTS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Company establishes its right to require an employee to submit to a medical examination
                                        and/or tests for illegal drugs or alcohol when Company has a business need for such
                                        medical exam/tests or has reasonable suspicion that an employee is under the influence.
                                        Failure to submit to a medical exam/test, or a test giving positive results, is grounds for
                                        immediate termination.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">PERSONNEL RECORDS AND ADMINISTRATION</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2" Style="display:list-item;">
                                    <p>
                                        <b><u>Confidentiality:</u></b> It is necessary for Company to maintain certain records about
                                        you which are directly related to your job and Company’s responsibilities. At all
                                        times Company will do its best to balance your rights to privacy with the
                                        Company's need to collect and use your personal information.
                                    </p>
                                </MudText>
                                <MudText Typo="Typo.body2" Style="display:list-item;">
                                    <p>
                                        <b><u>Reviewing Your Personnel File:</u></b> Your personnel file is confidential and is
                                        available to you, your manager and upper management personnel. It will only
                                        contain such information as is needed by Company to conduct its business or as is
                                        required by Federal or State law. You have the right to review your personnel
                                        file. Ask your manager to make appropriate arrangements and an appointment
                                        will be made for a mutually convenient time. No copies of documents in your file
                                        may be made, with the exception of documents that you have previously signed.
                                        You may add your version of any disputed item to the file.
                                    </p>
                                </MudText>
                                <MudText Typo="Typo.body2" Style="display:list-item;">
                                    <p>
                                        All medical records and background check reports, if any, will be kept in a
                                        separate confidential file.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">CHANGE OF PERSONAL DATA</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Employees have the responsibility to ensure that their personal files are up to date.
                                        Company should be notified of any change in:
                                    </p>
                                    <MudText Typo="Typo.body2" Style="display:list-item">
                                        Legal Name
                                    </MudText>
                                    <MudText Typo="Typo.body2" Style="display:list-item">
                                        Home Address
                                    </MudText>
                                    <MudText Typo="Typo.body2" Style="display:list-item">
                                        Home contact telephone number
                                    </MudText>
                                    <MudText Typo="Typo.body2" Style="display:list-item">
                                        Contact person in case of an emergency
                                    </MudText>
                                    <MudText Typo="Typo.body2" Style="display:list-item">
                                        Tax Filing Status (W-4)
                                    </MudText>
                                    <MudText Typo="Typo.body2" Style="display:list-item">
                                        <p>Any other records Compnay deems necessary</p>
                                    </MudText>
                                    <p>
                                        Any change needs to be reported in writing without delay to the management. Failure to
                                        keep your records up to date shall relieve Company of any of its responsibilities as a
                                        result of inaccurate information. Falsification of any information can result in legal
                                        difficulties with both State and Federal agencies and/or dismissal from Company.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">HEALTH RELATED ISSUES</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        An employee who becomes aware of any health-related issue that may impact the
                                        employee’s job performance should notify their manager of his/her health-related issue as
                                        soon as possible.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">EMPLOYEE CLASSIFICATION</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        In order to determine an employee’s status and eligibility for various benefits, the
                                        following employment classifications have been established.
                                    </p>
                                    <MudText Typo="Typo.body2" Style="display:list-item">
                                        <b><u>Regular Employees</u></b>
                                        <p>
                                            Regular employees are those who are hired to work on a regular schedule. Regular
                                            employees may be classified as full-time or part-time.
                                        </p>
                                    </MudText>
                                    <MudText Typo="Typo.body2" Style="display:list-item">
                                        <b><u>Full-Time Employees</u></b>
                                        <p>
                                            Full-time employees are defined as those employees who are hired to work on a regular
                                            basis a shift of 40 hours or more a week.
                                        </p>
                                    </MudText>
                                    <MudText Typo="Typo.body2" Style="display:list-item">
                                        <b><u>Part-Time Employees</u></b>
                                        <p>
                                            Part-time employees are defined as (i) those non-exempt employees who are hired to
                                            work on a regular basis a shift of less than forty (40) hours but not less than twenty (20)
                                            hours a week and are paid on an hourly basis and (ii) those exempt employees who have
                                            an expectation and agreement with Company that they will work on a regular basis less
                                            than forty (40) hours a week (or the monthly or yearly equivalent).
                                        </p>
                                    </MudText>
                                    <MudText Typo="Typo.body2" Style="display:list-item">
                                        <b><u>Temporary Employees</u></b>
                                        <p>
                                            Temporary employees are those who are hired for a short-term, seasonal or specific
                                            period of time or for a specified work project. A temporary employee is hired with the
                                            understanding that employment will cease at the expiration of a specific period of time or
                                            when services are no longer needed. Temporary employees are not eligible for employee
                                            benefits except where mandated by applicable law.
                                        </p>
                                    </MudText>
                                    <p>
                                        Temporary changes in the number of hours do not affect an employee’s status, and the
                                        preceding definitions are not to be construed as a guarantee of work hours.
                                    </p>
                                    <p>
                                        In addition, employees may be either exempt (not subject to overtime and certain other
                                        regulations of working hours) or non-exempt (subject to overtime and related regulations).
                                    </p>
                                </MudText>

                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">NON-EXEMPT AND EXEMPT</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        All jobs are defined as "exempt" or "non-exempt" using the criteria established by the
                                        Fair Labor Standards Act (FLSA), a federal law defining the requirements for paying
                                        overtime, and California law (or other state law, as applicable).
                                    </p>
                                </MudText>
                                <MudText Typo="Typo.body2" Style="display:list-item">
                                    <b><u>Non-Exempt:</u></b> Employees performing non-exempt jobs are not exempted from the
                                    minimum wage or overtime provisions of the FLSA and applicable state laws. A
                                    non-exempt employee is often an hourly wage employee but can be a salaried
                                    employee (whose regular time hourly rate would be 1/40th of the weekly salary).
                                    A non-exempt employee is entitled to overtime pay for work in excess of 40 hours
                                    in a workweek or, in California (or under any other applicable state law) 8 hours
                                    per workday.
                                </MudText>
                                <MudText Typo="Typo.body2" Style="display:list-item">
                                    <b><u>Exempt:</u></b> Employees performing exempt jobs are exempted from the minimum
                                    wage, overtime and certain other provisions of the FLSA and California law (or
                                    other state law, as applicable). An exempt employee is paid on a salary basis to
                                    accomplish responsibilities and tasks, without regard to the time required.
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">PROBATIONARY PERIOD</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        All employees are considered to be in an initial evaluation period for the first ninety (90)
                                        calendar days from date of hire. During this period, both employee and Company have
                                        the opportunity to determine whether they desire to continue the employment relationship.
                                        Company can extend the probationary period for an additional 30 to 90 days, in its sole
                                        and absolute discretion, if it determines that such an extension is appropriate. Company
                                        or the employee can terminate the employment relationship at any time during the
                                        probationary period for any reason, with or without cause and with or without notice.
                                        Employees will not be eligible for any benefits during the probationary period.
                                    </p>
                                    <p>
                                        The successful completion of the probationary period is only one step in your
                                        employment at Company and does not mean that Company will thereafter employ you
                                        for any specific period of time.
                                        <i>
                                            Satisfactory completion of the probationary period does
                                            not alter the AT-WILL character of the employment relationship at Company.
                                        </i>
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">TRAINING</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        To help you be successful in your job you will receive adequate training. You will not be
                                        expected to be on your own until you are ready. We spend considerable time and money
                                        educating our trainers to prepare each new employee for their job. We want you to be a
                                        knowledgeable and productive member of our staff.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">EVALUATIONS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        All employees receive online performance evaluations. The evaluation process is
                                        intended to let you know how well you’re performing and to help you to be more
                                        effective and productive. The evaluation also gives you the opportunity to share your
                                        thoughts about your performance and future goals with your manager.
                                    </p>
                                    <p>
                                        The evaluation process is an opportunity to identify accomplishments and strengths as
                                        well as to openly discuss areas and goals for any improvement. At the sole discretion of
                                        Company, depending on your position and performance, you may be eligible for a pay
                                        increase. Pay increases are not guaranteed. Rewards are based solely on a person’s job
                                        performance and results.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">SCHEDULE</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Schedules are prepared to meet the work demands of Company. As work demands
                                        change, management reserves the right to adjust working hours and shifts. Each
                                        employee is responsible for working their shifts.
                                    </p>
                                    <p>
                                        You should arrive for your shift and clock in when your shift begins and be ready to start
                                        work immediately.
                                    </p>
                                    <p>
                                        Schedule changes may be allowed only if you get a manager’s approval. To be valid, the
                                        manager must indicate and initial the change on the posted schedule. We do, however,
                                        ask that you remember how crucial each position is to the proper functioning of
                                        Company. Please remember that even though we will try to comply with your requests,
                                        there is no assurance that you will be approved for the requested schedule change.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                    </ChildContent>
                </MudExpansionPanel>

                @*********Payment Procedures Section*********@
                <MudExpansionPanel>
                    <TitleContent>
                        <MudText Typo="Typo.h5">PAYMENT PROCEDURES</MudText>
                    </TitleContent>
                    <ChildContent>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">TIME REPORTING</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Non-exempt employees are required to use Company’s time keeping system to accurately
                                        measure the daily work hours, including lunch periods if taken. Currently, Company’s
                                        time keeping system is to record all daily work hours and to submit to Human Resources
                                        pursuant to Company’s payroll schedule. Both salaried employees (non-exempt only)
                                        and hourly employees (non-exempt) are required to use Company’s time keeping system
                                        for the accurate time keeping of the employee’s hours worked.
                                    </p>
                                    <p>
                                        Tampering, altering, or falsifying time records or recording time on another employee’s
                                        time sheet is not allowed and may result in disciplinary action, up to and including
                                        termination.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">WORKWEEK</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        For pay purposes, our official workweek is seven (7) consecutive days, beginning at
                                        12:01 a.m. on Monday and ending at midnight the following Sunday.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">PAYROLL CHECKS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Employees are usually paid on bi-weekly basis. If the pay-day falls on a Saturday or
                                        Sunday, you will be paid on the Friday prior to payday. If the payday falls on a Company
                                        recognized holiday, you will receive your pay on the last workday prior to the holiday.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">PAYROLL DEDUCTIONS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Your paycheck will indicate your gross earnings as well as deductions for federal and
                                        state withholding taxes and social security and Medicare taxes. Federal and state
                                        withholding taxes are authorized by you based on the information you furnished to us on
                                        form W-4.
                                    </p>
                                    <p>
                                        As per state law, Company complies with court orders in connection to garnishments
                                        from employee paychecks as directed by the proper authorities. You will be notified of
                                        any court-ordered payroll deductions.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">CHANGE OF ADDRESS, PHONE, E-MAIL, W-4</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        We ask that you report any address changes to Payroll Manager as soon as possible so
                                        that your year-end statement of income and deductions, form W-2, will be mailed to the
                                        correct address or sent to the correct email.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">OVERTIME</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Occasionally it may be necessary for an employee to work beyond his or her normal
                                        workday hours. Overtime pay is paid only when work is scheduled, approved, and made
                                        known to you in advance by your supervisor. Under no circumstances shall an employee
                                        work overtime without the prior approval of his or her supervisor.
                                    </p>
                                    <p>
                                        Overtime pay will be paid as required by state and federal regulations. All non-exempt
                                        employees who work more than eight (8) hours up to twelve (12) hours per workday,
                                        more than forty (40) hours per workweek, and first (8) hours of work during the seventh
                                        (7th) consecutive day of work in a workweek will be entitled to receive overtime pay at
                                        the rate of 1.5 times the straight time.
                                    </p>
                                    <p>
                                        Overtime pay at the rate of two (2) times your regular hourly rate of pay is paid for all
                                        hours of work performed in excess of twelve (12) hours in one work day and for all hours
                                        of work in excess of eight (8) hours on the seventh consecutive day of work in any work
                                        week.
                                    </p>
                                    <p>
                                        Exempt employees may have to work hours beyond their normal schedules as work
                                        demands require. <b>No overtime compensation will be paid to exempt employees.</b>
                                    </p>
                                    <p>
                                        <b>
                                            All overtime must be approved in advance by your supervisor or manager by
                                            submitting a written overtime request form. If you work unauthorized overtime,
                                            you are subject to disciplinary action.
                                        </b>
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">OVERTIME PRE-APPROVAL</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Non-exempt employees must receive overtime pre-approval using the Company’s form.
                                        Reporting overtime worked does NOT eliminate the requirement to obtain advance
                                        consent from your manager. A non-exempt employee who reports unauthorized overtime
                                        worked will be paid the appropriate rate for such reported overtime work, but shall be
                                        subject to discipline, including termination, for working unauthorized overtime hours.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">CALL BACK PAY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Company recognizes your right to privacy during your non-working hours. However,
                                        situations do occur that may require your services at other than your regularly scheduled
                                        work shift. If such a situation does arise and you are a non-exempt employee who is
                                        called into work at a time other than your regularly scheduled shift or are called back to
                                        work within the same calendar day after completing a regular work shift, you will be paid
                                        for the greater of two (2) hours or the actual number of hours worked.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">REPORTING PAY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        If you report for work as scheduled but are not put to work or are furnished less than onehalf
                                        (1/2) the scheduled day’s work, you will be paid for one-half (1/2) of the scheduled
                                        day’s work. Payment will be for a minimum of two (2) hours up to a maximum of four
                                        (4) hours at your regular, hourly rate. However, reporting pay will not be paid if:
                                    </p>
                                    <ol>
                                        <li>
                                            Operations cannot commence or continue due to threats to employees or property,
                                            or when recommended by civil authorities
                                        </li>
                                        <li>
                                            Public utilities fail to supply electricity, water or gas, or there is a failure in the
                                            public utilities or sewer system
                                        </li>
                                        <li>
                                            The interruption of work is caused by conditions beyond Company is control.
                                            Hours paid but not worked under this provision will not be used in the calculation
                                            of overtime pay
                                        </li>
                                    </ol>
                                </MudText>

                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">BUSINESS EXPENSES</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Employees may occasionally incur expenses on behalf of Company. Company will
                                        reimburse employees for typical business expenses, such as mileage (for example, when
                                        Company asks an employee to travel to a different jobsite during the workday) and
                                        certain job-related supplies or materials.
                                    </p>
                                    <p>
                                        Normal job-related expenses will be reimbursed if the expenditure has been pre-approved in
                                        writing and signed by the department manager. Reimbursable expenses are to be itemized
                                        on the Company’s expense report and submitted to the department manager for review
                                        and approval along with original receipts as instructed by the Accounting Team. Expense
                                        reports and receipts must be submitted to accounts payable in order to be processed.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">DISCRETIONARY BONUS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Company practices a Discretionary Bonus policy with its employees. Discretionary
                                        Bonuses are provided to eligible employees. Eligibility is determined by Company and
                                        amounts of bonuses shall be in keeping with Company policy.
                                    </p>
                                    <p>
                                        Note, Company’s policy regarding equal employment opportunities (i.e., based on jobrelated
                                        nondiscriminatory criteria only, not on any employee’s race, color, religion, sex,
                                        national origin, age, disability, sexual orientation, marital status, etc.), is and will be
                                        consistent in determining bonuses for its employees. Further, any paid bonuses shall be
                                        consistent with local, state and federal laws (i.e., tax reporting and classification of
                                        bonuses).
                                    </p>
                                    <p>
                                        No bonus will be provided to terminated employees and it will be paid on pro-rata basis
                                        for employees who are on a leave of absence.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                    </ChildContent>
                </MudExpansionPanel>

                @*********Meal & Rest Break Periods Policy Section*********@
                <MudExpansionPanel>
                    <TitleContent>
                        <MudText Typo="Typo.h5">MEAL & REST BREAK PERIODS POLICY</MudText>
                    </TitleContent>
                    <ChildContent>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">MEAL BREAK PERIOD POLICY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        An unpaid meal break period is normally scheduled near the midpoint of the work period.
                                        Each hourly employee is required by Company to take an unpaid meal period of one hour
                                        (1) duration for any workday longer than five (5) hours, with the meal period to
                                        commence (and the employee to punch out) no later than five (5) hours after the
                                        commencement of the employee’s work shift. Employees must punch out the timecard
                                        before and after the meal break.
                                    </p>
                                    <p>
                                        Employees whose daily work schedule will be completed in six hours or less may, upon
                                        agreement with Company, waive the daily meal period. Each employee who works more
                                        than ten hours in one day is required by Company to take, during that workday, a second
                                        unpaid meal period of not less than one (1) hour, except that an employee whose work
                                        during that workday will be completed in 12 hours or less, and who took a first meal
                                        period commencing at or prior to working five (5) hours during that workday, may waive
                                        the second meal period.
                                    </p>
                                    <p>
                                        Employees are relieved and released of all duties during the meal period. If any manager
                                        or Company representative encourages Employee to work during their meal period
                                        without pay, Employee is to report such conduct immediately to Management. Any
                                        employee who takes less than the required meal break(s) or fails to punch out and punch
                                        in for the required meal periods, or does both, repeatedly during any pay period, will be
                                        subject to discipline, up to and including termination.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">REST BREAK PERIODS POLICY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        A paid rest break period, consisting of a minimum of ten (10) minutes, is normally
                                        scheduled near the midpoint of each half of a full workday. Non-exempt employees are
                                        required by law and Company policy to take a paid rest break, consisting of a minimum
                                        of ten (10) minutes, during every four (4) hours worked or major fraction thereof. If, for
                                        example, employee works 6.5 hours, Employee is entitled to 20 minutes of break time, 10
                                        minutes for the initial 4 hours worked and another 10 minutes for the major fraction of
                                        the remaining 4 hours, i.e., 2.5 hours. Further, if you are scheduled to work two (2) or
                                        more hours overtime in one workday, you are required by law and Company policy to
                                        take an additional paid rest break, consisting of a minimum of ten (10) minutes, at the end
                                        of the first eight (8) hours of the workday.
                                    </p>
                                    <p>
                                        Violations of this Break Period policy will be subject to discipline, up to and including
                                        termination.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">LACTATION ACCOMMODATION (LABOR CODE SECTION 1030)</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        In compliance with Labor Code Section 1030, Company will provide a reasonable
                                        amount of break time to accommodate an employee desiring to express breast milk for
                                        the employee’s infant child. The break time shall, if possible, be taken concurrently with
                                        other break periods already provided. Non-exempt employees should clock out for any
                                        time taken that does not run concurrently with normally scheduled rest periods, and such
                                        time will be unpaid unless otherwise required by federal or state law. Company will also
                                        make a reasonable effort to provide the employee with the use of a room or other location
                                        in close proximity to the employee’s work area, for the employee to express milk in
                                        private.
                                    </p>
                                    <p>
                                        Employees should notify their supervisor or the Human Resources to request time and
                                        make other necessary arrangements to express breast milk under this policy.
                                    </p>
                                    <p>
                                        No provision of this policy applies or is enforced if it conflicts with or is superseded by
                                        any requirement or prohibition contained in a state or local law or regulation. Anyone
                                        with knowledge of such a conflict or potential conflict should contact the Human
                                        Resources.
                                    </p>
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                    </ChildContent>
                </MudExpansionPanel>

                @*********Code of Conduct Section*********@
                <MudExpansionPanel>
                    <TitleContent>
                        <MudText Typo="Typo.h5">CODE OF CONDUCT</MudText>
                    </TitleContent>
                    <ChildContent>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">INTRODUCTION</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                    <p>
                                        Company expects each employee to conduct himself/herself in a professional and ethical
                                        manner. This means that, among other things, employees are expected to conduct
                                        themselves in a manner that will uphold the Company’s reputation for excellent customer
                                        service, courteousness, efficiency, safety and timeliness.
                                    </p>
                                    <p>
                                        While Company reserves the right to dismiss employees at any time, it also may take
                                        other disciplinary measures against employees who violate work rules or fail to
                                        satisfactorily perform their job duties. Examples of disciplinary action include a warning
                                        letter, suspension without pay, demotion, or discharge.
                                    </p>
                                    <p>
                                        In an effort to alert employees to expectations of them and to apprise them of their
                                        obligations and responsibilities regarding their conduct, listed below are examples of
                                        types of behavior that may result in disciplinary action. The first list is a list of offenses
                                        that typically will be more serious and even result in immediate dismissal. The second list
                                        is a list of offenses that are not as grave but are still likely to result in disciplinary action.
                                        Of course, Company reserves the right to determine appropriate disciplinary action based
                                        on the individual circumstances in its sole discretion. Because we cannot anticipate every
                                        situation that might arise, these lists merely provide examples of problematic conduct.
                                        Company expects employees to always behave lawfully, ethically, and with good sense.
                                    </p>
                                    <MudText Typo="Typo.body2" Style="display:list-item">
                                        <u><b>Actions Which May Result in Immediate Discharge</b></u>
                                        <ol>
                                            <li>
                                                Dishonest conduct, including, but not limited to, unauthorized taking or
                                                possession of Company’s property, unauthorized possession or taking of a fellow
                                                employee’s property, taking bribes, or unauthorized charges against Company’s
                                                account.
                                            </li>
                                            <li>
                                                Any unauthorized possession, use, purchase, sale, transfer, or being under the
                                                influence of an illegal drug, alcohol, or cannabis products on Company premises.
                                            </li>
                                            <li>
                                                Working for a competitor or engaging in any activity that poses a conflict with the
                                                Company's interests or appears to do so.
                                            </li>
                                            <li>
                                                Taking money, merchandises or services from a customer or vendor for personal
                                                gain without authorization.
                                            </li>
                                            <li>
                                                Improperly disclosing or using trade secrets, proprietary, or confidential
                                                information about Company, its partners, its employees, or its agents.
                                            </li>
                                            <li>
                                                Insubordination, derogatory or defamatory behavior toward management
                                                personnel, other employees, Company, or its partners.
                                            </li>
                                            <li>Sexual or other harassment.</li>
                                            <li>
                                                False statements, misrepresentations, or omissions on documents or records, such
                                                as resumes, job applications, or timecards.
                                            </li>
                                            <li>Failing to return to work after an authorized leave of absence.</li>
                                            <li>
                                                Possession of firearms or other weapons on Company premises or while
                                                performing Company business without authorization.
                                            </li>
                                            <li>Violent conduct or threat of violence.</li>
                                            <li>Felony conviction or pleading of no contest.</li>
                                            <li>Gambling on Company premises.</li>
                                            <li>Serious misconduct of any kind.</li>
                                        </ol>
                                    </MudText>

                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">HARASSMENT</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">WORKPLACE BULLYING</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">VIOLENCE IN THE WORKPLACE</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">CONFLICT OF INTEREST</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">OUTSIDE EMPLOYMENT POLICY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">NO DATING POLICY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">COMPLAINT AND PROBLEM PROCEDURE</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">CORRECTIVE PROCEDURE</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">CRISIS SUSPENSION</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">DRUG-FREE WORKPLACE POLICY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">WORKPLACE INSPECTIONS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">ABSENCES</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">TARDINESS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">EMPLOYMENT TERMINATION/RESIGNATION/LAYOFF</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">EXIT INTERVIEW</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">RETURN OF COMPANY PROPERTY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>

                    </ChildContent>
                </MudExpansionPanel>

                @*********Leaves Of Absence Section*********@
                <MudExpansionPanel>
                    <TitleContent>
                        <MudText Typo="Typo.h5">LEAVES OF ABSENCE</MudText>
                    </TitleContent>
                    <ChildContent>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">PAID VACATION</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">PAID SICK LEAVE POLICY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">FAMILY AND MEDICAL LEAVES (FAMILY AND MEDICAL LEAVE ACT)</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">FAMILY AND MEDICAL LEAVE (CALIFORNIA FAMILY RIGHTS ACT)</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">PREGNANCY-RELATED DISABILITY LEAVES</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">JURY DUTY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">VOTING PRIVILEGES</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">MILITARY LEAVE</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">BEREAVEMENT LEAVE</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">HOLIDAYS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">EMPLOYEE GROUP INSURANCE BENEFITS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                    </ChildContent>
                </MudExpansionPanel>

                @*********Company Policies & Practices Section*********@
                <MudExpansionPanel>
                    <TitleContent>
                        <MudText Typo="Typo.h5">COMPANY POLICIES & PRACTICES</MudText>
                    </TitleContent>
                    <ChildContent>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">MANAGEMENT/EMPLOYEE RELATIONS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">TEAMWORK</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">CALIFORNIA TRANSPARENCY IN SUPPLY CHAINS ACT</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">WOMEN'S RIGHTS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">SAFETY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">ACCIDENT AND EMERGENCY SITUATIONS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">CRIME AND ROBBERY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">DRESS CODE</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">CELL PHONE/SMART PHONE POLICY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">COMPLIANCE WITH VEHICULAR LAWS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">SMOKING POLICY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">VISITORS IN THE WORKPLACE</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">COMPANY SOCIAL EVENTS</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">COMPANY PROPERTY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">ELECTRONIC COMMUNICATION</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">SOCIAL MEDIA NETWORK POLICY</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Typo="Typo.h6">PROPRIETARY & CONFIDENTIAL INFORMATION</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudText Typo="Typo.body2">
                                </MudText>
                            </ChildContent>
                        </MudExpansionPanel>
                    </ChildContent>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudPaper>
    </MudContainer>
</MudContainer>

@code {
    // Breadcrumbs
    private List<BreadcrumbItem> _breadcrumbs = new List<BreadcrumbItem>()
    {
        new BreadcrumbItem("Home", href: "/home"),
        new BreadcrumbItem("Policies",  href: null, disabled: true)
    };

    private MudButton panel { get; set; }
    private MudExpansionPanels panels { get; set; }
    private void Close()
    {
        panels.CollapseAll();
    }
}
