@page "/daytimeoff/info"

<PageTitle>Counter</PageTitle>
<MudBreadcrumbs Items="_breadcrumbs" />

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private List<BreadcrumbItem> _breadcrumbs = new List<BreadcrumbItem>()
    {
        new BreadcrumbItem("Home", href: "/"),
        new BreadcrumbItem("Day Time Off Info", href: null, disabled: true)
    };
}
